.margin{
  margin-top: 5%;
  margin-bottom: 5%;
}
.panel-heading{
  background-color: #ef5615;
  color: white;
}
.text-margin{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.funkyradio div {
  clear: both;
  overflow: hidden;

}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}


.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

/*.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}


.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}*/

.funkyradio input[type="checkbox"]:checked ~ label {
  color: #ef5615;
}


.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #ef5615;
  background-color: #ef5615;
}

.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #ef5615;
}


.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #ef5615;
  background-color: #ccc;
}

.selectmargin{
  margin-left: 10%;
  margin-right: 5%;
}

.marginbot{
  margin-bottom: 5%;
}
.rightside{
  margin-top: 5%;
  margin-left: 80%;
}

.item-container {
position: relative;
}
.item-list {
left: 5px;
list-style: none;
margin: 0;
padding: 0;
position: absolute;
right: 5px;
top: 6px;

li {
border: 1px solid #0ad;
background: #cdf;
line-height: 23px;
margin-top: -1px;
padding: 4px;

.close {
  color: #0ad;
  cursor: pointer;
  float: right;
  font-size: 20px;
  margin-right: 4px
}
}
}
#item-text {
  box-sizing: border-box;
  line-height: 32px;
  padding: 4px 8px;
  width: 100%
}


.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    white-space: pre-wrap;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /*width: 200px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;*/
}

.funkyradio-default:hover .tooltiptext {
    visibility: visible;
}
