#contact{
  background-color: #9336fc;
  color:white;
}
#contact a{
  color: white;
}
#mainNav a {
  color: #9336fc;

}

.footer {
  position: relative;
  text-align: center;
  bottom: 0px;
  top: 0px;
  background-color: #9336fc;
  border-style: solid;
  border-color: #9336fc;
}
